div(class="container")
	div(class="row-fluid")
		div(class="span3 leftnavbar")
			h4
				a(href="http://www.thefreedictionary.com/swoop") swoop [swu:p]
			p v. swooped, swoop·ing, swoops
			p v.intr.

			h4 Subheading
			p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

			h4 Subheading
			p Maecenas sed diam eget risus varius blandit sit amet non magna.

		div(class="span3")
			div(class="item-container")
				div(class="item-pic", style="background:url('http://media-cache-ec3.pinimg.com/236x/d9/a6/dd/d9a6dd3d150c6a82c84cf2cc68e737d3.jpg') no-repeat 0 0;")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

			div(class="item-container")
				div(class="item-pic", style="background:url('http://media-cache-ec3.pinimg.com/236x/ba/1c/32/ba1c328bdfb29f924515fdf940ce78ee.jpg') no-repeat 0 0;")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum
				
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

		div(class="span3")
			div(class="item-container")
				div(class="item-pic", style="background:url('http://media-cache-ec3.pinimg.com/236x/ba/1c/32/ba1c328bdfb29f924515fdf940ce78ee.jpg') no-repeat 0 0;")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum
				
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

			div(class="item-container")
				div(class="item-pic", style="background:url('http://media-cache-ec3.pinimg.com/236x/ba/1c/32/ba1c328bdfb29f924515fdf940ce78ee.jpg') no-repeat 0 0;")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum
				
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

		div(class="span3")
			div(class="item-container")
				div(class="item-pic", style="background:url('http://media-cache-ec3.pinimg.com/236x/ba/1c/32/ba1c328bdfb29f924515fdf940ce78ee.jpg') no-repeat 0 0;")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum
				
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
				p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.
	
			div(class="item-container")
				div(class="item-owner") 
					div(class="item-owner-pic") 
						<i class="icon-user2"></i>
					label Lorem Ipsum

				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.
				p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.


		<!--p This is the partial for view 2.
		p
			| Showing of 'interpolate' filter:
			| {{ 'Current version is v%VERSION%.' | interpolate }}-->
