div(class="container")
	div(id="login", class="row")
		div(class='span6 offset3 well')
			form(ng-submit="login()")
				fieldset(class="radius")
					div(class="input-block-level")
						input(type="text", name="email", placeholder="email", ng-model="credentials.email", required)
					div(class="input-block-level")
						input(type="password", name="password", placeholder="password", ng-model="credentials.password", required)
					
					button(type="submit", class="btn btn-info expand radius") Log In
