div(class="jumbotron")
		div(class="logo-big") <b>swoop</b>it in
		p(class="lead") We are a stealth startup working on something cool and fun.  
		a(class="btn btn-large btn-warning", href="#") <i class="icon-lock">&nbsp;</i>Coming soon

div(class="container swoop-container")
	
	div(class="row-fluid marketing")
		div(class="span1")

		div(class="span5")
			h4
				a(href="http://www.thefreedictionary.com/swoop") swoop [swu:p]
			p v. swooped, swoop·ing, swoops
			p v.intr.

			h4 Subheading
			p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

			h4 Subheading
			p Maecenas sed diam eget risus varius blandit sit amet non magna.

		div(class="span5")
			h4 Subheading
			p Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.

			h4 Subheading
			p Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.

			h4 Subheading
			p Maecenas sed diam eget risus varius blandit sit amet non magna.

		div(class="span1")
      
