!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Swoop.it.in
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css", rel="stylesheet")
  body
    block body
